@import 'tailwindcss';

@theme {
  --color-purple: #8577ff;
  --color-white: #fcf7f8;
  --color-grey: #828e82;
  --color-black: #020202;

  --color-vs-red: #f87683;
  --color-vs-yellow: #ffab70;
  --color-vs-blue: #79b8ff;
  --color-vs-green: #35d058;
  --color-vs-purple: #b392f0;

  --font-martian-mono: 'Martian Mono', 'monospace';
  --font-inter: 'Inter', 'sans-serif';

  --animate-loop-scroll: loop-scroll 200s linear infinite;
  --animate-loop-fast-scroll: loop-scroll 100s linear infinite;
  @keyframes loop-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

.paused {
  animation-play-state: paused;
}

.v-enter-active {
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  transition-delay: var(--delay, 0ms);
}

.v-enter-from {
  opacity: 0;
  transform: translateY(48px);
}
